<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div id="wrapper">
      <div class="card">
        <div class="user-show">
          <center class="user-container">

            <%= image_tag(@user.facebook_picture_url, class: "image") %>

              <h2><%= @user.first_name %> <%= @user.last_name %></h2>

              <h5><%= @user.email %></h5>


            <%= link_to 'Edit', edit_user_path(@user.id) %>

          </center>
        </div>
      </div>
    </div>
  </div>
</div>
