
  <div class="banner-content">

    <br>
    <br>
    <br>
    <h1 class="text-center">List your Event</h1>
    <br><br><br>

     <div class="wrapper-form">


      <%= simple_form_for @event do |f| %>
        <%= f.input :name, label: 'Event Name', placeholder: 'LA Vape Convention' %>
        <%= f.input :venue_name, placeholder: 'LA Staples Center' %>
        <%= f.input :address, hint: 'Make sure to include city :)', placeholder: '123 Baker St. London' %>
        <%= f.input :country %>
        <%= f.input :region %>
        <%= f.input :description, :as => :text, :input_html => { 'rows' => 5} %>
        <%= f.input :website_url, placeholder: 'www.vapeshows.com' %>
        <%= f.input :purchase_url, placeholder: 'www.vapeshows.com/purchasetickets' %>
        <%= f.input :instagram, placeholder: 'LA Vape Convention' %>
        <%= f.input :facebook %>
        <%= f.input :twitter %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :day_description, :as => :text, :input_html => { 'rows' => 5} %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.input :logo %>
        <%= f.input :logo_cache, as: :hidden %>
        <%= f.input :primary_image %>
        <%= f.input :primary_image_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn-moses', value: 'Submit Event' %>
      <% end %>





       <!--  <input type="date" class="form-control input-md" placeholder="check in">
        <input type="date" class="form-control input-md" placeholder="check out">
        <select class="form-control input-md" placeholder="Type">
          <option value="1">Type</option>
          <option value="2">Scooter</option>
          <option value="3">Motorcycle</option>
          <option value="4">Moped</option>
        </select> -->
        <!-- <input type="submit" class="btn btn-info btn-md" value="Search"> -->


      <br><br>
    </div>


  </div>
