<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>


<%= @event.name %>
<%= @event.venue_name %>
<%= @event.address %>
<%= @event.country %>
<%= @event.description %>
<%= @event.website_url %>
<%= @event.purchase_url %>

<%= @event.instagram %>
<%= @event.hashtag %>
<%= @event.facebook %>
<%= @event.twitter %>
<%= @event.instagram_api %>
<%= @event.start_date %>
<%= @event.end_date %>
<%= @event.day_description %>
<%= @event.start_time %>
<%= @event.end_time %>

<div class="card" >
<%= cl_image_tag @event.primary_image %>

<%= cl_image_tag("@event.primary_image",
      width: 400, height: 300, crop: :fill) %>
</div>

<h2>Latest Reviews</h2>

<% @reviews.each do |r| %>
  <p> <%= r.headline %> </p>
  <p> <%= r.description %> </p>
  <p> <%= r.rating %> </p>
  <p> <%= r.date %> </p>
<% end %>

<%= link_to "Add a Review", new_event_review_path(@event.id) %>


