

<div class="banner" style="background-image: linear-gradient(107deg, rgba(0,25,29,0.6) 0%, rgba(0,-344,27,0.3) 50%), url('http://res.cloudinary.com/moseskim92/image/upload/v1475620672/new-york-city-1150012_1920_jh0ojf.jpg');">
  <div class="banner-content white">
    <h1 style="font-weight: lighter; font-size: 80px;">Vape Shows</h1>
    <p>The Only Destination for the World’s Best Vape Shows</p>

    <div class="search-wrapper-form">
      <form class="search-form-inline" role="form" action="events/search">
        <input type="text" class="form-control form-search" id='location' name="location" value="Los Angeles">
        <button type="submit" class="btn btn-default-search">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- Upcoming Events Start -->


<div class="text-center bm50">
  <h2 class="tbm50" style="font-weight: normal; font-size: 30px;">Upcoming Shows</h2>

    <div class="container">
      <div class="row">
        <% @latest_events.each do |event| %>
            <div class="col-xs-12 col-sm-4 tbm15 ">

              <%= link_to event_path(event) do %>
                <div class="image-crop card" style="background-image: url('<%= image_url event.primary_image %>')">
                   <div class="logo-inside-card">
                     <%= cl_image_tag(event.logo) %>
                    <h2> <%= event.name %> </h3>
                    <p><%= event.country %> </p>
                   </div>

                   <div class="card-date">
                     <h3><%= event.start_date %> </h3>
                   </div>
                </div>
              <% end %>

            </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- Upcoming Events End -->

<!-- Discover Banner Start -->


  <div class="banner" style="background-color: #3c465a; height: 85vh; ">
    <div class="banner-content white">
     <h1 style="font-weight: lighter; font-size: 60px;">DISCOVER</h1>
     <p>List and view all vape events around the world.</p>

     <img class="avatar-large" src="https://cdn0.iconfinder.com/data/icons/flaturici-set-5/512/binoculars-512.png" alt="">
                     <br><br><br><br>
     <div class="text-center">
      <a href=" events#index" class="btn btn-moses btn-lg" role="button">Discover Events</a>
     </div>
    </div>
  </div>

<!-- Discover Banner End -->

<!--   Continents Cards Start -->

  <div class="tbm50">
    <div class="container">
      <div class="row">

      <%= link_to "United States", @region_event do %>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="image-crop card" style="background-image: url('http://res.cloudinary.com/moseskim92/image/upload/o_85/v1475619810/new-york-1587558_1280_rst1ri.jpg')">
            <div class="banner-content white">
              <h3 style="font-weight: normal; font-size: 30px; color: white;">UNITED STATES</h3>
            </div>
          </div>
        </div>
      <% end %>


      <%= link_to "Central & South America", @region_event do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-crop card" style="background-image: url('http://res.cloudinary.com/moseskim92/image/upload/v1475613957/ipanema-1564161_1280_wo0bsg.jpg')">
            <div class="banner-content white text-center">
              <h3 style="font-weight: normal; font-size: 30px; color: white;">CENTRAL & SOUTH AMERICA</h3>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to "Europe", @region_event do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-crop card" style="background-image: url('http://res.cloudinary.com/moseskim92/image/upload/v1475613389/people-eiffel-tower-france-landmark_ejl7hk.jpg')">
            <div class="banner-content white">
              <h3 style="font-weight: normal; font-size: 30px; color: white;">EUROPE</h3>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to "Middle East", @region_event do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-crop card" style="background-image: url('http://res.cloudinary.com/moseskim92/image/upload/v1475618828/photo-1459600661907-3c72c54955de_wmjt3t.jpg')">
            <div class="banner-content white text-center">
              <h3 style="font-weight: normal; font-size: 30px; color: white;">MIDDLE EAST</h3>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to "Canada", @region_event do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-crop card" style="background-image: url('http://res.cloudinary.com/moseskim92/image/upload/o_85/v1475613011/city-cityscape-amarpreet-kaur_qu99q5.jpg')">
            <div class="banner-content white">
              <h3 style="font-weight: normal; font-size: 30px; color: white;">CANADA</h3>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to "Asia", @region_event do %>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="image-crop card" style="background-image: url('http://res.cloudinary.com/moseskim92/image/upload/o_78/v1475613270/pexels-photo-108995_rssk4e.jpg')">
            <div class="banner-content white">
              <h3 style="font-weight: normal; font-size: 30px; color: white;">ASIA</h3>
            </div>
          </div>
        </div>
      <% end %>

      </div>
    </div>
  </div>

<!-- Continents Cards End -->



<!-- Subscription End -->




  <!-- <div class="text-center tbm50">
    <h2 class="tbm50" style="font-weight: normal; font-size: 30px;">Latest Reviews</h2>

      <div class="container">
        <div class="row">
          <% @latest_reviews.each do |review| %>
              <div class="col-xs-12 col-sm-4 tbm15">


                <h2><%= review.event.name %></h2>
                <h4 class="line-height">"<i><%= review.headline %></i>"</h4>
                <div class="star-ratings-css">
                  <div class="star-ratings-css-top" style="width:<%= (review.rating * 21.5).to_i %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

                  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div> -->



