
<div class="review-body-margin">
<div class="text-center tbm50"><h1>New Review</h1></div>


      <%= simple_form_for [@event, @review] do |f| %>
        <%= f.input :headline %>
        <%= f.input :description, :as => :text, :input_html => { 'rows' => 5} %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.input :date %>
        <%= f.button :submit, class: 'btn-moses', value: 'Submit Review' %>
      <% end %>
</div>
